name: "Beta Deployment"

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          owner: EducationalTools-Beta
          repositories: |
            EducationalTools-Beta.github.io
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_PRIVATE_KEY }}

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: |
          bun install

      - name: Build
        env:
          VITE_CONVEX_URL: ${{ env.VITE_CONVEX_URL }}
          VITE_CONVEX_SITE_URL: ${{ env.VITE_CONVEX_SITE_URL }}
        run: |
          bun run build
          cp build/client/index.html build/client/404.html

      - name: Deploy to repo
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ steps.app-token.outputs.token }}
          external_repository: EducationalTools-Beta/EducationalTools-Beta.github.io
          publish_branch: main
          publish_dir: ./build/client
          user_name: "edutools-bot[bot]"
          user_email: "1183662+edutools-bot[bot]@users.noreply.github.com"
