name: Build

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: |
          bun install

      - name: Build
        env:
          VITE_CONVEX_URL: ${{ vars.VITE_CONVEX_URL }}
          VITE_CONVEX_SITE_URL: ${{ vars.VITE_CONVEX_SITE_URL }}
          VITE_PUBLIC_POSTHOG_HOST: ${{ vars.VITE_PUBLIC_POSTHOG_HOST }}
          VITE_PUBLIC_POSTHOG_KEY: ${{ vars.VITE_PUBLIC_POSTHOG_KEY }}
        run: |
          bun run build
          cp build/client/index.html build/client/404.html

      - uses: actions/upload-artifact@v4
        with:
          name: Build
          path: ./build/client
