name: Deploy

on:
  push:
    branches:
      - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: |
          bun install

      - name: Build
        env:
          VITE_CONVEX_URL: ${{ vars.VITE_CONVEX_URL }}
          VITE_CONVEX_SITE_URL: ${{ vars.VITE_CONVEX_SITE_URL }}
        run: |
          bun run build
          cp build/client/index.html build/client/404.html

      - name: Deploy to repo
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.GH_PAGES_SECRET }}
          external_repository: EducationalTools/EducationalTools.github.io
          publish_branch: main # default: gh-pages
          publish_dir: ./build/client

      - name: Deploy to vercel repo
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.VERCEL_REPO_SECRET }}
          external_repository: "Inglan/EduTools-Vercel"
          publish_branch: main # default: gh-pages
          publish_dir: ./build/client
          user_name: "Ingo Wolf"
          user_email: "me@ingowolf.au"
